doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title TO DO App Full Login 📓
    include includes/styles
  body
    .page-container
      include includes/header
      .container.page-body
        block content
      include includes/footer
    include includes/scripts
