body {
  background-color: black;
}

.page-container {
  min-height: 95vh;
  position: relative;
  z-index: 1;
  background-color: #000;
}

.container {
  margin-top: 25px;
  /*padding-bottom: 35px;*/
  width: 100%;
}

header {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: #2B2823;
  z-index: 2;
}

.input-group {
  z-index: 1;
}

.header {
  margin-top: 110px;
}

.add-bar, .list-container {
  margin-top: 90px;
}

.list-container {
  margin-bottom: 110px;
}

.header h1, .header h4 {
  margin-top: 25px;
  margin-bottom: 60px;
  color: white;
  font-weight: bold;
}

h4 {
  font-weight: bold;
}

footer {
  position: absolute;
  bottom: 25px;
  left: 0;
  right: 0;
  height: 50px;
}

footer>a {
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  display: block;
}

footer>i.fa {
  display: block;
  font-weight: bold;
  font-size: 20px;
  color: white;
}

footer>p {
  font-size: 12px;
  color: #CACACA;
}

ul.nav.nav-pills {
  border-bottom: 5px solid white;
  color: white;
  padding: 20px;
}

.nav-pills>li>a {
  color: white;
  padding: 5px;
  font-size: 13px;
  font-weight: bold;
  border: 3px solid white;
  margin: 5px 0 5px 10px;
}

.nav-pills>li>a:hover {
  color: black;
  background-color: white;
}

.nav-pills>li>a.user-name-logged, .nav-pills>li>a.user-name-logged:hover {
  color: #C0D23E;
  border-color: black;
  background-color: black;
  padding: 5px 0;
}

.nav-pills>li>a.user-name-not-logged, .nav-pills>li>a.user-name-not-logged:hover {
  color: #E15E32;
  border-color: black;
  background-color: black;
  padding: 5px 0;
}

.nav-pills>:nth-child(3)>a {
  color: white;
  border: 3px solid #2B2823;
}

.nav-pills>:nth-child(3)>a:hover {
  color: white;
  background-color: #2B2823;
  border: 3px solid #2B2823;
}

.list-container button.btn {
  padding: 3px 6px;
}

.list-container span {
  font-size: 14px;
}

.panel-body input:first-child {
  margin-top: 25px;
}

form {
  display: inline-block;
}

.form-group {
  text-align: center;
  padding-bottom: 25px;
}

#todo {
  margin: 0 auto;
}

a.close {
  float: right;
}

.task-item span {
  margin-left: 20px;
  font-size: 16px;
}

.task-item i {
  font-size: 13px;
  font-weight: bold;
}

.task-item:hover {
  background: #eee;
}

.task-item i {
  font-size: 13px;
  font-weight: bold;
}

.task-edit {
  margin-left: 20px;
  font-size: 16px;
  max-width: 150px;
  background-color: #F0F0D8;
}

.hidded {
  display: none;
  height: 0px;
}

.task-done {
  background: #CCC;
  text-decoration: line-through;
}

button.btn.btn-warning.pull-right {
  margin-right: 10px;
}

.edit {
  margin-left: 10px;
}
