extends ../layout

block content
  .container
    .row.login-block
      .col-sm-8.col-sm-offset-2.col-md-6.col-md-offset3
        .panel.panel-info.login
          .panel-heading
            h3.panel-title Register an account
          .panel-body.text-center
            form(action='/signup', method='POST')
              fieldset.block-center
                .form-group
                  input.form-control(placeholder='email@example.com', name='emailSignUp', type='email', required, autofocus)
                .form-group
                  input.form-control(placeholder='Password', name='passwordSignUp', type='password', , required)
                button.btn.btn-lg.btn-primary.btn-block Create
              
    
