extends ../layout

block content
  .container
    .header
      h1 Your completed tasks
    .list-container  
      .row          
        .col-sm-8.col-sm-offset-2    
          ul.list-group
            each task in doneTasks
              li.list-group-item.task-item
                p.inline-block 
                  small Time
                button.undone.btn.btn-primary
                  i.fa.fa-calendar
                span= task.title
                input.task-id(type='hidden', value=task.id)
                input.task-edit.hidded(type='text', name='task', placeholder=task.title, autofocus, value=task.title)
                button.remove.btn.btn-danger.pull-right
                  i.fa.fa-remove
        
